<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8"/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
    <header id="header">
        <div class="container">
            <img src="~/Content/img/logo2.png" alt="National Parks Geek logo" />
            <nav id="nav">
                <ul>
                    <li>@(Html.ActionLink(" Home ", "Index", "Home", null, new { @id = "navlinks" })) | </li>
                    <li>@(Html.ActionLink(" Vote ", "Survey", "Survey", null, new { @id = "navlinks" })) | </li>
                    <li>@(Html.ActionLink(" Favorite Parks ", "SurveyResults", "Survey", null, new {  id = "navlinks"}))</li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content">
        <div class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
